@media screen and (min-width: 425px) {
    .sm-none {
        display: none;
    }
}
    
.body {
    margin: 0%;
}

.header-img {
    width: 100;
}

.font-comfortaa {
    font-family: "Confortaa", cursive;
}

.bg-orange {
    background-color: #e67b13;
}

.text-white {
    color: white;
}

.margin {
    margin-top: auto;
}

.main {
    padding: 08px;
}

@media screen and (max-width: 400px) {}
    .sm-bg-mobile {

        background-color: #e67b13;
    }

.dialog-wrapper {
    display: none !important;
}

