.body {
    margin: 0%;
}

.header-img {
    width: 100;
}

.main {
    padding: 08px;
}

.bg-orange {
    background-color: #e67b13;
}

.text-white {
    color: white;
}

@media screen and (max-width: 400px) {}
    .sm-bg-mobile {

        background-color: #acc8e5;
    }

.dialog-wrapper {
    display: none !important;
}
